In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/19/2009,6.0,2009
632,tt0814314,55000000,168167691,Seven Pounds,Will Smith|Rosario Dawson|Sarah Jane Morris|Wo...,Gabriele Muccino,Seven names. Seven strangers. One secret.,An IRS agent with a fateful secret embarks on ...,123,Drama,Columbia Pictures|Escape Artists|Relativity Me...,12/18/2008,7.4,2008
1375,tt0398017,22000000,57479076,Derailed,Clive Owen|Jennifer Aniston|Vincent Cassel|Mel...,Mikael HÃ¥fstrÃ¶m,He never saw it coming.,When two married business executives having an...,108,Drama|Thriller,Miramax Films|Di Bonaventura Pictures|Patalex ...,11/11/2005,6.2,2005
299,tt1139668,16000000,76514050,The Unborn,Odette Annable|Gary Oldman|Meagan Good|Cam Gig...,David S. Goyer,Evil will do anything to live.,A young woman fights the spirit that is slowly...,87,Horror|Thriller|Mystery,Rogue Pictures|Phantom Four|Platinum Dunes|Rel...,1/9/2009,4.9,2009
688,tt1073498,30000000,84646831,Meet the Spartans,Sean Maguire|Carmen Electra|Ken Davitian|Kevin...,Jason Friedberg|Aaron Seltzer,"The Bigger the Hit, The Harder They Fall",From the creators of Scary Movie and Date Movi...,84,Comedy,Regency Enterprises|New Regency Pictures,1/24/2008,4.0,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# метод, форматирующий фильм для ответа
def format_movie(query, idx=0):
    row = query.iloc[idx]
    return '{}. {} ({})'.format(row.name, row.original_title, row.imdb_id)


def count_unique(series):
    def count_unique_impl(value, counter):
        for item in value.split('|'):
            counter[item] += 1
            
            
    all_items = Counter()
    series.apply(lambda x: count_unique_impl(x, all_items))
    return all_items


def explode_by(df, old_column, new_column):
    df[new_column] = df[old_column].str.split('|')
    return df.explode(new_column)
        

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget
data['release_month'] = data.release_date.apply(lambda rd: int(str(rd).split('/')[0]))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
max_budget = data[data.budget == data.budget.max()]
answers['1'] = format_movie(max_budget)
answers['1']
# +

'723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [6]:
idx_max_budget = data.budget.idxmax()
answers['1'] = format_movie(data, idx_max_budget)
answers['1']
# +

'723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
max_time = data.runtime.idxmax()
answers['2'] = format_movie(data, max_time)
answers['2']
# +

'1157. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
min_time = data.runtime.idxmin()
answers['3'] = format_movie(data, min_time)
answers['3']
# +

'768. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [9]:
avg_time = data.runtime.mean()
answers['4'] = round(avg_time, 0)
answers['4'] 
# +

110.0

# 5. Каково медианное значение длительности фильмов?

In [10]:
median_time = data.runtime.median()
answers['5'] = median_time
answers['5'] 
# +

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [11]:
max_profit = data.profit.idxmax()
answers['6'] = format_movie(data, max_profit)
answers['6']
# +

'239. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [12]:
max_loss = data.profit.idxmin()
answers['7'] = format_movie(data, max_loss)
answers['7']
# +

'1245. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [13]:
answers['8'] = data.profit[data.profit > 0].count()
answers['8']
# +

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
movies_2008 = data[data.release_year == 2008].revenue.idxmax()
answers['9'] = format_movie(data, movies_2008)
answers['9']
# +

'599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
movies_20xx = data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.idxmin()
answers['10'] = format_movie(data, movies_20xx)
answers['10']
# +

'1245. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [16]:
data_g = explode_by(data, 'genres', 'genre')
answers['11'] = data_g.genre.value_counts().index[0]
answers['11']
# +

'Drama'

ВАРИАНТ 2

In [17]:
all_genres = count_unique(data.genres)
answers['11'] = all_genres.most_common(1)[0][0]
answers['11']
# +

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [18]:
data_g['profitable'] = data_g.profit > 0
most_profitable = data_g[data_g.profitable == True].groupby('genre').profitable.count().sort_values(ascending=False)

answers['12'] = most_profitable.index[0]
answers['12']
# +

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [19]:
data_d = explode_by(data, 'director', 'dir')
dir_cash = data_d.groupby('dir').revenue.sum().sort_values(ascending=False)
dir_cash
answers['13'] = dir_cash.index[0]
answers['13']
# +

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [20]:
dir_act = data_d[data_d.genres.str.contains('Action')].dir.value_counts()
answers['14'] = dir_act.index[0]
answers['14']
# +

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [21]:
data_a = explode_by(data, 'cast', 'actor')
top_actor = data_a[data_a.release_year == 2012].groupby('actor').revenue.sum().sort_values(ascending=False)
answers['15'] = top_actor.index[0]
answers['15']
# +

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [22]:
avg_budegt = data.budget.mean()
top_actor2 = data_a[data_a.budget > avg_budegt].actor.value_counts()
answers['16'] = top_actor2.index[0]
answers['16']
# +

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [23]:
cage_movies = data_g[data_g.cast.str.contains('Nicolas Cage')].genre.value_counts()
answers['17'] = cage_movies.index[0]
answers['17']
# +

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [24]:
data_pc = explode_by(data, 'production_companies', 'pc')
pp_most_failed = data_pc[data_pc.pc == 'Paramount Pictures'].sort_values(by='profit')
answers['18'] = format_movie(pp_most_failed)
answers['18']
# +

'925. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [25]:
best_year = data.groupby('release_year').revenue.sum().sort_values(ascending=False)
answers['19'] = best_year.index[0]
answers['19']
# +

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [26]:
wb_most_successful = data[data.production_companies.str.contains('Warner Bros')].groupby('release_year').profit.sum().sort_values(ascending=False)
answers['20'] = wb_most_successful.index[0]
answers['20']
# +

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [27]:
top_month = data.groupby('release_month').imdb_id.count().sort_values(ascending=False)
answers['21'] = top_month.index[0]
answers['21']
# +

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [28]:
summer_movies = data[(data.release_month >= 6) & (data.release_month <= 8)].imdb_id.count()
answers['22'] = summer_movies
answers['22']
# +

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [29]:
winter_dir = data_d[(data_d.release_month == 12) | (data_d.release_month <= 2)].dir.value_counts()
answers['23'] = winter_dir.index[0]
answers['23']
# +

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
data_pc['title_len'] = data_pc.original_title.apply(lambda t: len(str(t)))
answers['24'] = data_pc.groupby('pc').title_len.mean().sort_values(ascending=False).index[0]
answers['24']
# +

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [31]:
data_pc['descr_len'] = data_pc.overview.apply(lambda t: len(str(t).split()))
answers['25'] = data_pc.groupby('pc').descr_len.mean().sort_values(ascending=False).index[0]
answers['25']
# +

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [32]:
max_vote = data.vote_average.max()
top_1percent = data.vote_average.quantile(q=0.99)
answers['26'] = data[data.vote_average > top_1percent].sort_values(by='vote_average', ascending=False).original_title
answers['26']
# +

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [33]:
data['act_pair'] = data.cast.apply(lambda s: list(it.combinations(str(s).split('|'), r=2)))
data_a2 = data.explode('act_pair')
answers['27'] = data_a2.act_pair.value_counts().head(5)
answers['27']
# +

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
Name: act_pair, dtype: int64

ВАРИАНТ 2

In [34]:
# сорри, я слишком ленив

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 599                                   The Dark Knight
 9                                          Inside Out
 34                                               Room
 118                                      Interstellar
 125                                The Imitation Game
 119                           Guardians of the Galaxy
 128                                         Gone Girl
 138                          The Grand Budapest Hotel
 370                                         Inception
 872                                       The Pianist
 1081    The Lord of the Rings: The Return of the King
 1183                          The Wolf of Wall Street
 1191                                 12 Years a Slave
 1800                                          Memento
 Name: original_title, dtype: object,
 '27': (Daniel Radcliffe, Rupert Grint)       8
 (Daniel Radcliffe, Emma Watson)        8
 (Rupert Grint, Emma Watson)            7
 (Johnny Depp, Helena Bonham Carter)    6
 (Ben Stiller, Owen Wilson)             6
 Name: act_pair, dtype: int64}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

27